
<div class="farm-banner" style="background-image: url(<%= asset_path 'Card_banner.png' %>)">
<div class="farm-banner-content text-center">
		<h1 class="yellow farm-header"><%= @user.name.upcase %></h1>
</div>

</div>
<div class="pattern" style="bottom: 280px">

</div>
<div class="saler-content">
<div class="farmer-details-wrap">
	<div class="farm-icons">
		<div class="grid text-center">
			<%= image_tag "Hive_icon.png" %>
			<h2 class="yellow">HIVES</h2>
			<h1 class="yellow"><%= @user.hives %>35</h1>
		</div>

		<div class="sticks text-center">
			<%= image_tag "Since_icon.png" %>
			<h2 class="yellow">SINCE</h2>
			<h1 class="yellow"><%= @user.since %>1953</h1>
		</div>

		<div class="star text-center">
			<%= image_tag "Best_icon.png" %>
			<h2 class="yellow">PURENESS</h2>
			<h1 class="yellow">85%</h1>
		</div>
	</div>
</div>


<hr>

<div class="container container-about">
	<div class="row content-about">
		<div class="col-sm-8">
			<div class="about-wrap">
				<div class="raw">
					<div class="farm-description">
						<h1 class= "yellow text-center">WHO WE ARE</h1>
						<p class="farm-description-text text-center">L’ENTREPRISE<br>Miel des Ruisseaux, située à Alma, est un producteur de miel et d’hydromel.  Ses ruchers se retrouvent dans les municipalités d’Alma et de Saint-Gédéon.  Ces derniers regroupent plus de 400 ruches où dans chacune d’elles s’activent  près de 100,000 abeilles.<br><br>NOS PRODUITS<br>Les produits offerts sont le miel, le miel crémeux, le chocolat noir ou au lait  rempli de miel crémeux, le choco-miel et l’hydromel qui se décline en 4 sortes :  l’hydromel régulier, l’hydromel en fût de chêne, l’hydromel aux Bleuets (Le Rêve Bleu)  et le Fleur-de-Lysé.<br><br>HISTORIQUE<br>Patrick Fortier, propriétaire de l’entreprise, fonde Miel des Ruisseaux en 1998.  En 2007, il commence la production de l’hydromel et en devient l’unique producteur  au Saguenay-Lac-Saint-Jean. L’hydromel, un succès pour l’entreprise, gagne 2 médailles  d’argent en 2010 et 2011 ainsi qu’une mention de distinction 2013. L’entreprise est fière de ses réalisations et de son implication en tant que producteur régional d’un produit 100% naturel et écologique.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4"  style="display: flex;" >
			<div id="map"></div>
		</div>
	</div>
</div>
<hr>

<div class="products">
	<h1 class="yellow text-center" style="margin-top: 100px">OUR PRODUCTS</h1>
	<!-- Prototype to have visualization of the database -->
	<ul id="products">
		<div class="products-cards">
			<% @user.products.each do |p| %>
       <a href="<%=user_product_path(p.user_id, p.id)%>">
           <div class="product-card">
          <div class="product-card-top" >
            <img src="<%= asset_path 'https://butterflywonderland.com/wp-content/uploads/2016/04/honey1.jpg'%>" class="product-card-image-top" alt="">
          </div>
          <div class="product-card-yellow-line"></div>
          <div class="product-card-footer-2">
            <h3 class="yellow text-center"><%= p.name.upcase %></h3>
            <p class="product-card-price text-center">39€</p>
          </div>
        </div>
      </a>
			<% end %>
      </div>
		</ul>
      <div class="add-product text-center">
      <% if current_user && current_user.id == @user.id  %>
      <h2><%= link_to "Add a new product", new_user_product_path(@user.id), class:"add-product"  %></h2>
    </div>
			<% end %>
		</div>

	</div>

</div>
</div>


