<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(100,100,100,0.3) 50%), url(<%= asset_path 'Image_landing_picture.png' %>)">
  <div class="farm-banner-content">
    <h2 class="yellow">Buy pure honey directly from the farms and local farmers
    </h2>
  </div>

</div>
  <div class="pattern" style="bottom: 250px">

  </div>


<div class="home-icons">
 <div class="grid text-center">
   <%= image_tag "Icon_HoneyGrid.png" %>
   <h2 class="yellow"> PURE</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>
  <div class="sticks text-center">
   <%= image_tag "Icon_HoneySticks.png" %>
   <h2 class="yellow"> HONEST</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>

 <div class="star text-center">
   <%= image_tag "Icon_Star.png" %>
   <h2 class="yellow"> BEST QUALITY</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>
</div>


<div class="some-farms text-center" style="height: 500px;">

  <h2 class="yellow">SOME OF OUR FARMS</h2>
  <ul>

    <% @sellers[0,5].each do |seller| %>
  <li><%= seller.name %></li>
</ul>
  <% end %>
</div>


 <div class="pattern" style="top: 250px">

  </div>
<div class="footer-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(100,100,100,0.3) 50%), url(<%= asset_path 'Image_honeypot.png' %>)">
  <div class="farm-banner-content">

</div>