<%= content_for(:title) do %>
Home
<% end %>

<div class="banner" style="background-image: url(<%= asset_path 'Image_landing_picture.png' %>)">
  <div class="farm-banner-content">
    <h1 class="yellow">BUY PURE HONEY DIRECTLY FROM THE FARMERS
    </h1>
  </div>

</div>
<div class="pattern" style="bottom: 250px">

</div>


<div class="home-icons">
 <div class="grid text-center">
   <%= image_tag "Icon_HoneyGrid.png" %>
   <h2 class="yellow"> PURE</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>
 <div class="sticks text-center">
   <%= image_tag "Icon_HoneySticks.png" %>
   <h2 class="yellow"> HONEST</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>

 <div class="star text-center">
   <%= image_tag "Icon_Star.png" %>
   <h2 class="yellow"> BEST QUALITY</h2>
   <p>Possimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam.ossimus aliquid dolore ea fugiat nemo quia. Sit ex atque rem illum! Nemo omnis, voluptate nostrum, totam commodi aliquam</p>
 </div>
</div>

<hr>
<div class="some-farms text-center" style="height: 500px;">

  <h1 class="yellow">SOME OF OUR FARMS</h1>
  <ul>
    <div class="farms" style="margin-top: 100px">
      <% @sellers[0,8].each do |s| %>

      <a href="<%=user_path(s.id)%>">
        <div class="farm-card">
          <div class="farm-card-top">
            <img src="<%= asset_path('Card_banner.png')%>" class="farm-card-image-top" alt="">
          </div>
          <div class="yellow-card-line"></div>
          <div class="farm-avatar-shape">
            <div class="farm-avatar">
              <img src="<%= asset_path('Image_avatar.png')%>" class="card-avatar" alt="">
            </div>
          </div>
          <div class="card-footer">
            <h3 class="yellow text-center"><%= s.name.upcase %></h3>
            <p class="card-address text-center"><%=s.address.upcase %></p>
          </div>
        </div>
      </a>
      <% end %>
    </ul>
  </div>
</div>


<div class="pattern" style="top: 250px">

</div>
<div class="footer-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(100,100,100,0.3) 50%), url(<%= asset_path 'Image_honeypot.png' %>)">
</div>
