

<div id="map" style="width: 100%; height: 200px; margin-top:60px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>

<h2 class="yellow text-center our-farms"> OUR FARMS</h2>
<hr>

<div class="farms">
<% @sellers.each do |s| %>
<div class="farm-card">
  <div class="farm-card-top">
    <img src="<%= asset_path('Card_banner.png')%>" class="farm-card-image-top" alt="">
  </div>
  <div class="farm-avatar">
    <img src="<%= asset_path('Image_avatar.png')%>" class="card-avatar" alt="">

  </div>
  <div class="card-footer">
    <h3 class="yellow text-center"><%= s.name %></h3>
    <p class="text-center">s.description</p>
    <%= link_to "See farm",  user_path(s.id), class: "farm-link text-center yellow" %>
  </div>
</div>
<% end %>
</div>
