<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>


<%= simple_form_for ([@user, @product]) do |f| %>
  <%= f.input :name, label: 'Product Name', error: 'Please specify A honey name' %>
  <%= f.input :price, label: 'Price', type: 'float' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.button :submit %>
<% end %>