
<%= content_for(:title) do %>
  <%= @product.name %>
<% end %>

<div class="farm-banner" style="background-image:url(<%= asset_path 'Card_banner.png' %>)">
  <div class="farm-banner-content">
    <h2 class="yellow"><% if @user.nickname %>
    <%= @user.nickname %>
      <% end %>
    </h2>
  </div>

</div>
  <div class="pattern" style="bottom: 250px">

  </div>


<div class="product-show">

  <div class="product-photo" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url(<%= asset_path 'https://butterflywonderland.com/wp-content/uploads/2016/04/honey1.jpg'%>);">

  </div>


<div class="product-info">
<h2><%= @product.name %></h2>
<h3><%= @product.description %></h3>
<h3> <%= @product.price %> Euros</h3>
<% if current_user %>
<h3><%= link_to "Buy", new_user_product_sale_path(current_user.id, @product.id)  %></h3>
<% else %>
<h3><%= link_to "Create an account to buy", new_user_session_path  %></h3>
<% end %>


<% if current_user && current_user.id == @user.id  %>

<h4><%= link_to "Edit Product", edit_user_product_path(@product.id) %></h4>
<h4> <%= link_to "Delete Product", user_product_path(@product.id), method: 'delete' %></h4>
  <% end %>




</div>

</div>



