
<%= content_for(:title) do %>
  <%= @product.name %>
<% end %>
<div class="farm-banner" style="background-image: url(<%= asset_path 'Card_banner.png' %>)">
<div class="farm-banner-content text-center">
    <h1 class="yellow farm-header"><%= @user.name.upcase %></h1>
</div>

</div>
<div class="pattern" >

</div>

<div class="product-show">

  <div class="product-photo" style="background-image: url(<%= asset_path 'default-image-product.jpg'%>);">

  </div>


<div class="product-info" style="text-align:left">
<h2 class="yellow"><%= @product.name.upcase %></h2>
<p><%= @product.description %></p>

<p><%= @product.price %> €</p>
<% if current_user %>
<% if current_user && current_user.id == @user.id  %>
  <div class="edit-product-buttons-container">
  <p><%= link_to "Edit Product", edit_user_product_path(@user.id,@product.id) %></p>
  <p><%= link_to "Delete Product", user_product_path(@user.id,@product.id), method: 'delete' %></p>
  </div>
  <% else %>
  <div class="buy-button-container">
    <%= link_to "Buy", user_product_sale_path(current_user.id, @product.id), class:"buy-btn"  %>
  </div>
  <% end %>

<% else %>
<div class="buy-button-container">
    <%= link_to "Buy", new_user_session_path,class:"buy-btn"  %>
  </div>
<% end %>
</div>

</div>



