


<h2><%= @product.name %></h2>
<h3><%= @product.description %></h3>
<h3> <%= @product.price %></h3>



<% if current_user && current_user.id == @user.id  %>

<h4><%= link_to "Edit Product", edit_user_product_path(@product.id) %></h4>
<h4> <%= link_to "Delete Product", user_product_path(@product.id), method: 'delete' %></h4>
  <% end %>
